<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data?</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!--inject:css-->
    <link rel="stylesheet" href="/css/style.css">
    <!--endinject-->
    <!--inject:js-->
    <script src="/js/database.js"></script>
    <script src="/js/select.js"></script>
    <script src="/js/searchbox.js"></script>
    <!--endinject-->


</head>
<body ng-app="mainApp">

    <div ng-controller="places">
        <div id="search">
            <input id="field" type="text" ng-model="searchBox">
            <input type="button">
        </div>
        <ul>
            <h2>places</h2>
            <li ng-repeat="datalist in datalists | filter:searchBox">
                {{ datalist.owner + ':' + datalist.title}}
            </li>
        </ul>
    </div>

</body>
</html>